@import "../../common.less";

.copyright{
    border-top: 1px solid #dedede;
    background-color: white;
    text-align: center;
    padding: 50 * @px 0;
    &-text{
        color: #999;
        font-size: 24 * @px;
        line-height: 36 * @px;
    }
}