@import "../../common.less";

.service{
    //background-color: white;
    &-intro{
        background-color: white;
        padding-bottom: 20 * @px;
        &-image{
            width: 100%;
            height: auto;
            display: block;
        }
        p{
            font-size: 28 * @px;
            text-align: justify;
            line-height: 42 * @px;
            padding: 20 * @px @padding 0;
        }
    }
    &-item{
        width: 100%;
        padding: 10 * @px;
        box-sizing: border-box;
        &-image{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &-cards{
        margin-top: @padding;
        //column-count: 2;
        //column-gap: 0;
        &-item{
            margin-bottom: 20 * @px;
            background-color: white;
            //width: 350 * @px;
            //margin-left: 16.5 * @px;
            //float: left;
            //break-inside: avoid;
            //box-sizing: border-box;
            &-image{
                width: 100%;
                display: block;
                border-bottom: 1px solid #efefef;
            }
            &-content{
                padding: 30 * @px;
                &-title{
                    font-size: 32 * @px;
                    padding-bottom: 20 * @px;
                    font-weight: bold;
                }
                &-text{
                    color: #969696;
                    font-size: 28 * @px;
                    line-height: 38 * @px;
                }
                &-date{
                    color: #999999;
                    margin-top: 10 * @px;
                    font-size: 24 * @px;
                }
            }
        }
    }
}